@import url(./__image/header__image.css);
@import url(./__lang-link/header__lang-link.css);
@import url(./__links/header__links.css);

.header {
  width: 90%;
  height: 52px;
  margin: 0 auto;
  padding: 28px 0 0;
}
