.place__paragraph {
  margin: 0 auto 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #FFFFFF;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
  }
}

@media only screen and (max-width: 767px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
  }
}
