@import url(./__list/intro__list.css);
@import url(./__text/intro__text.css);
@import url(./__title/intro__title.css);
@import url(./__item/intro__item.css);
@import url(./__list-item/intro__list-item.css);

.intro {
  width: 57%;

  margin: 92px auto 0 130px;
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .intro {
    width: 67%;
    margin: 92px auto 0 50px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .intro {
    width: 90%;
    margin: 90px auto 0 auto;
  }
}

@media only screen and (max-width: 767px) {
  .intro {
    width: 90%;
    margin: 60px auto;
  }
}
