@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__link-box/cover__link-box.css);

.cover {
  position: relative;
  margin: 92px auto 0;
  width: 90%;
  height: 740px;
  background-image: url('../../images/cover-trains.jpg');
  background-size: cover;
  background-position: center;
}

.cover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  background: rgba(42, 44, 47, 0.3);
	transition: background 1s ease;
	-webkit-transition: background 1s ease;
	-moz-transition: background 1s ease;
	-ms-transition: background 1s ease;
	-o-transition: background 1s ease;
}

.cover:hover::before {
  background: rgba(42, 44, 47, 0.8);
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .cover {
    width: 100%;
    height: 640px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .cover {
    width: 100%;
    height: 480px;
  }
}

@media only screen and (max-width: 767px) {
  .cover {
    margin: 60px auto 0;
    width: 100%;
    height: 200px;
  }
}
