@import url(./__title/cover__title.css);
@import url(./__image/cover__image.css);
@import url(./__subtitle/cover__subtitle.css);

.cover {
  position: relative;
  margin: 92px auto 0;
  width: 95%;
  height: 740px;
  background-image: url('../../images/cover-trains.jpg');
  background-size: cover;
}

.cover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  background: rgba(0,0,0,0.3);
	transition: background 1s ease;
	-webkit-transition: background 1s ease;
	-moz-transition: background 1s ease;
	-ms-transition: background 1s ease;
	-o-transition: background 1s ease;
}

.cover:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  background: rgba(0,0,0,0.8);
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .cover {
    width: 100%;
    height: 600px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .cover {
    width: 100%;
    height: 480px;
  }

  .cover__title {
    padding-top: 100px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .cover {
    height: 200px;
  }

  .cover__title {
    padding-top: 33px;
    font-size: 32px;
    line-height: 35px;
  }

  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
  }
}
