.cover__title {
  position: relative;
  margin: 0;
  padding-top: 200px;

  font-style: normal;


  font-weight: 900;
  font-size: 72px;
  line-height: 76px;

  text-align: center;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .cover__title {
    padding-top: 100px;
  }
}

@media only screen and (max-width: 767px) {
  .cover__title {
    padding-top: 33px;
    font-size: 32px;
    line-height: 35px;
  }
}
