@import url(./__image/place__image.css);
@import url(./__paragraph/place__paragraph.css);
@import url(./__text/place__text.css);
@import url(./__title/place__title.css);
@import url(./__website/place__website.css);
@import url(./__link/place__link.css);
@import url(./__url-heading/place__url-heading.css);

.place {
  display: grid;
  width: 100%;
  margin-bottom: 80px;
  grid-template-columns: repeat(2, 48%);
  grid-template-rows: max-content;
  grid-gap: 40px;
}

.place:last-of-type {
  margin-bottom: 0;
}

@media only screen and (min-width: 1024px) and (max-width: 1279px) {
  .place {
    grid-gap: 32px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .place {
    width: 100%;
    grid-gap: 25px;
  }
}

@media only screen and (max-width: 767px) {
  .place {
    grid-template-columns: repeat(1, 100%);
    margin-bottom: 45px;
  }
}
