.intro__title {
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;

  width: 100%;

  text-align: left;

  margin: 0;
}

@media only screen and (max-width: 767px) {
  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }
}
